:root {
    --primary-color: #7851a9;
    --accent-color: #9EC0C4;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: #1e293b;
    color: #f8fafc;
    line-height: 1.6;
}

.gradient-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: radial-gradient(circle, #000 40%, #63e 100%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.25rem;
    background-color: rgba(26, 26, 26, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
}

.initials {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

nav.social-icons {
    margin-left: auto;
}

nav.social-icons a {
    display: inline-block;
    margin: 0 0.5rem;
    color: var(--accent-color);
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav.social-icons a:hover {
    color: var(--primary-color);
}

main {
    padding-top: 6rem;
}

.content {
    display: flex;
    gap: 2rem;
    max-width: 90%;
    margin: 2rem auto;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    order: 2;
    text-align: start;
}

.profile-image {
    width: 100%;
    order: 1;
    margin: 0 auto;
}

.profile-image img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.name {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-family: "Updock", cursive;
    color: #F7D8E9;
}

.title {
    font-size: 1.5rem;
    color: var(--accent-color);
    margin-bottom: 1rem;
}


.technologies {
    text-align: center;
    margin: 3rem auto;
}

.technologies-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    max-width: 90%;
    margin: 0 auto;
}

.tech-icon {
    width: 4rem;
    max-width: 100px;
    height: auto;
}

.tech-tag {
    background-color: #4b0082;
    color: #fff;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    font-size: 0.9rem;
}


.projects {
    max-width: 900px;
    margin: 3rem auto;
    text-align: center;
}

.project-item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    text-align: left;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #27303b;
    transition: transform 0.3s ease;
    animation: autoShowAnimation 0.3s both;
}


.project-img {
    display: block;
    margin: 0 auto;
    margin-right: 2rem;
    object-fit: cover;
}

.project-img img {
    width: 200px;
    object-fit: cover;
    border-radius: 1rem;
}

.project-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

.project-item:hover {
    transform: translateY(-5px);
}

.project-item h3 {
    color: #fff;
    margin-bottom: 0.5rem;
}

.project-item p {
    color: #d0d0d0;
    margin-bottom: 1rem;
}


.contact-me {
    text-align: center;
    margin-top: 3rem;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    max-width: 90%;
}

.contact-details {
    margin-bottom: 2rem;
}

.contact-details p {
    margin: 0.5rem 0;
}

.contact-details a {
    color: var(--accent-color);
    text-decoration: none;
    transition: color 0.3s;
}

.contact-details a:hover {
    color: var(--primary-color);
}

.contact-details i {
    margin-right: 0.5rem;
}

.details {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: start;
    justify-content: center;
    margin: auto;
}

#contact-form input,
#contact-form textarea {
    display: block;
    width: calc(100% - 2rem);
    margin: 0.5rem auto;
    padding: 0.8rem;
    border: 1px solid #555;
    background-color: #333;
    color: #eee;
    border-radius: 5px;
}

#contact-form button {
    width: 50%;
    max-width: 300px;
    margin: 1rem auto;
    background-color: var(--primary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: min-content;
    color: #fff;
}

#contact-form button:hover {
    background-color: #916BBF;
}


#message-sent {
    color: #61dafb;
    margin-top: 20px;
}


.contact-me-left h2,
p,
a {
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: #9EC0C4;
    margin-bottom: 1rem;
}

#contact h2 {
    color: #eee;
    margin-bottom: 20px;
}

.data {
    display: flex;
    gap: 1rem;
}

.message {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.contact-me-right h2 {
    margin: 0.5rem;
}

@media screen and (max-width:768px) {
    .contact-me {
        flex-direction: column;
    }

    .project-item {
        max-width: 85%;
        margin: 1rem auto;
    }

    .content {
        flex-direction: column;
    }
    .project-img img {
        display: none;
    }
}
